.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.dataFeedItem {
  display: flex;
  cursor: pointer;
}

.dataFeedItem:hover {
  background-color: rgb(41, 36, 59);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 

.popup-content {
  align-items: center;
  margin: auto;
}


[role='tooltip'].popup-content {
  width: 100%;
}

[data-popup='tooltip'].popup-overlay {
  background: green;
}

.rejt-name {
  font-weight: bold;
  color: aquamarine;
}

.rejt-value, .rejt-name, .rejt-not-collapsed-delimiter, .rejt-collapsed-text {
  font-size: 0.6em;
}

.rejt-object-node{
  font-size: 0.8em;
}

.rejt-value-node {
  min-height: 0px;
  line-height: 10px;

}